<div class="header" data-ng-controller="HeaderController">
	<div class="header_top">
		<div class="menu">
			<div class="navbar-header">
				<a href="/#!/" class="navbar-brand">man-a-ger</a>
			</div>
			<!--<a class="toggleMenu" href="#" style="display: none;"><img src="modules/core/images/nav.png" alt=""></a>-->
			<!--<ul class="nav">-->
				<!--<li class=""><a href="#"><i><img src="modules/core/images/settings.png" alt=""></i>Settings</a></li>-->
				<!--<li class=""><a href="#"><i><img src="modules/core/images/user.png" alt=""></i>Account</a></li>-->
				<!--<li class=""><a href="#"><i><img src="modules/core/images/mail.png" alt=""></i>Messages <span class="messages">5</span></a></li>-->
				<!--<li class=""><a href="#"><i><img src="modules/core/images/favourite.png" alt=""></i>Favorites</a></li>-->
				<!--<div class="clear"></div>-->
			<!--</ul>-->
			<ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
				<li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
					<a ng-switch-when="dropdown" class="dropdown-toggle">
						<span data-ng-bind="item.title"></span>
						<b class="caret"></b>
					</a>
					<ul ng-switch-when="dropdown" class="dropdown-menu">
						<li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
							<a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
						</li>
					</ul>
					<a ng-switch-default href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
				</li>
			</ul>
			<!--<script type="text/javascript" src="js/responsive-nav.js"></script>-->
		</div>
		<div class="profile_details" data-ng-show="authentication.user">
			<header-login></header-login>

			<div class="profile_img">
				<a href="#"><img src="modules/core/images/profile_img40x40.jpg" alt="">	</a>
			</div>
			<div class="clear"></div>
		</div>

		<div class="profile_details" data-ng-hide="authentication.user">
			<ul class="nav navbar-nav navbar-right">
				<li ui-route="/signup" ng-class="{active: $uiRoute}">
					<a href="/#!/signup">Sign Up</a>
				</li>
				<li class="divider-vertical"></li>
				<li ui-route="/signin" ng-class="{active: $uiRoute}">
					<a href="/#!/signin">Sign In</a>
				</li>
			</ul>
			<div class="clear"></div>
		</div>



		<div class="clear"></div>
	</div>
</div>
