<div class="wrap" data-ng-controller="HomeController">
	<div class="column_left">
		<div class="grid column_right_grid date_events">
			<h3>
				<!--<a href="#" id="slide_prev"><img src="modules/core/images/arrow-left.png" alt="" /></a>-->
				{{month}}
				<!--<a href="#" id="slide_next"><img src="modules/core/images/arrow-right.png" alt="" /></a>-->
			</h3>
			<ul id="slide" class="event_dates">
				<li data-ng-bind="day"></li>
			</ul>
			<h3 class="week-day" data-ng-bind="dayString"></h3>
			<!--<h2 data-ng-bind="time"></h2>-->
			<!--<div class="button"><a href="#">Add Event</a></div>-->
		</div>
	</div>
	<div class="column_middle">
		<div class="grid column_middle_grid1" data-ng-controller="RestosController">
			<div class="profile_picture">
				<a href=""><img src="modules/core/img/brand/logo.jpg" alt="logo">	</a>
				<div class="profile_picture_name">
					<h2>{{todayResto.name}}</h2>
					<h2 ng-hide="todayResto">Todays resto is still unknown</h2>
					<!--<p>Lorem ipsum dolor sit amet consectetur adipisicing </p>-->
				</div>
				<!--<span><a href="#"> <img src="modules/core/images/follow_user.png" alt=""> </a></span>-->
			</div>
			<div class="articles_list">
				<ul>
					<li><a href="#" class="red"><img src="modules/core/images/comments.png" alt="">23</a></li>
					<li><a href="#" class="purple"><img src="modules/core/images/views.png" alt="">{{previousTodayResto.views}}</a></li>
					<li><a href="#" class="yellow"><img src="modules/core/images/likes.png" alt="">49</a></li>
					<div class="clear"></div>
				</ul>
			</div>
		</div>
	</div>
	<div class="column_right">
		<div class="grid menu_box vote"  data-ng-controller="VotesController">
			<div data-ng-show="!voteEnabled">
				<h3>Who's going where?</h3>
				<div class="menu_box_list">
					<ul class="votes-list">
						<li data-ng-repeat="vote in todayVotes">
							<a href="#">
								<span data-ng-bind="vote.resto.name"></span>
								<label class="digits" data-ng-bind="vote.users.length"></label>
								<label data-ng-click="create(resto)" data-ng-show="!alreadyVoted && authentication.user" class="join">Join</label>
								<div class="clear"></div>
							</a>
							<div class="sub-list">
								<ul>
									<li data-ng-repeat="user in vote.users" data-ng-bind="user.displayName"></li>
								</ul>
							</div>
						</li>
						<li data-ng-show="todayVotes.length < 1">
							<a href="#">
								Seems like nobody's eating today
							</a>
						</li>
					</ul>
					<div data-ng-hide="voteEnabled || alreadyVoted || !authentication.user" class="button"><a data-ng-click="enableVote()">Vote</a></div>
				</div>
			</div>
			<div data-ng-show="voteEnabled">
				<h3>Choose wisely</h3>
				<div class="menu_box_list">
					<ul class="restos-list">
						<li data-ng-repeat="resto in restos | filter:search | orderBy:order:(order == 'proximity' || order == 'healthiness')">
							<a href="#">
								<span data-ng-bind="resto.name"></span>
								<label data-ng-click="create(resto)" class="join">Vote</label>
								<div class="clear"></div>
							</a>
						</li>
					</ul>
					<div class="button"><a data-ng-click="disableVote()">Back</a></div>
				</div>
			</div>
		</div>
	</div>
</div>

	<!--<div data-ng-controller="VotesController">-->
		<!--<div data-ng-show="success" data-ng-bind="success"></div>-->
		<!--<h2 data-ng-hide="voteEnabled || alreadyVoted">Not pleased with that? <a class="btn btn-primary btn-lg" data-ng-click="enableVote()">Call for a vote choice instead!</a></h2>-->
		<!--<div data-ng-show="voteEnabled && !alreadyVoted" class="row">-->
			<!--<div class="col-md-4">-->
				<!--<h3>The choice is yours</h3>-->
				<!--<p>Search: <input data-ng-model="search" type="text" placeholder="M'eat me, frites, ..."></p>-->
				<!--<p>-->
					<!--Sort by:-->
					<!--<select ng-model="order">-->
						<!--<option value="">Choose the criteria...</option>-->
						<!--<option value="name">Alphabetical</option>-->
						<!--<option value="healthiness">Healthiness</option>-->
						<!--<option value="proximity">Proximity</option>-->
						<!--<option value="price">Price</option>-->
					<!--</select>-->
				<!--</p>-->
			<!--</div>-->
			<!--<div class="col-md-8 list-group">-->
				<!--<a data-ng-repeat="resto in restos | filter:search | orderBy:order:(order == 'proximity' || order == 'healthiness')" data-ng-click="create(resto)" class="list-group-item">-->
					<!--<h4 class="list-group-item-heading" data-ng-bind="resto.name"></h4>-->
				<!--</a>-->
			<!--</div>-->
		<!--</div>-->
		<!--<div data-ng-show="todayVotes.length > 0" class="row">-->
			<!--<h2>Today's other votes</h2>-->
			<!--<div data-ng-repeat="vote in todayVotes" class="col-md-3">-->
				<!--<h2 data-ng-bind="vote.resto.name"></h2>-->
				<!--<p data-ng-bind="vote.users.length"></p>-->
				<!--<ul>-->
					<!--<li data-ng-repeat="voteUser in vote.users">-->
						<!--{{voteUser.displayName}}-->
					<!--</li>-->
				<!--</ul>-->
				<!--<a class="btn btn-primary btn-lg" data-ng-hide="alreadyVoted" data-ng-click="create(vote.resto)">Vote for that too</a>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
	<!--<br>Enjoy &amp; Keep Us Updated,-->
	<!--<br>thcoq@smile.fr-->
