<div class="wrap" data-ng-controller="HomeController">
	<div class="column_left">
		<div class="column_right_grid date_events">
			<h3>
				<!--<a href="#" id="slide_prev"><img src="modules/core/images/arrow-left.png" alt="" /></a>-->
				{{dayString}}
				<!--<a href="#" id="slide_next"><img src="modules/core/images/arrow-right.png" alt="" /></a>-->
			</h3>
			<ul id="slide" class="event_dates">
				<li data-ng-bind="day"></li>
			</ul>
			<h3 data-ng-bind="month"></h3>
			<!--<div class="button"><a href="#">Add Event</a></div>-->
		</div>
	</div>
	<div class="column_middle">
		<div class="column_middle_grid1" data-ng-controller="RestosController">
			<div class="profile_picture">
				<a href=""><img src="modules/core/img/brand/logo.jpg" alt="logo">	</a>
				<div class="profile_picture_name">
					<h2>{{todayResto.name}}</h2>
					<h2 ng-hide="todayResto">Todays resto is still unknown</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing </p>
				</div>
				<span><a href="#"> <img src="modules/core/images/follow_user.png" alt=""> </a></span>
			</div>
			<div class="articles_list">
				<ul>
					<li><a href="#" class="red"> <img src="modules/core/images/comments.png" alt=""> 23</a></li>
					<li><a href="#" class="purple"> <img src="modules/core/images/views.png" alt=""> 841</a></li>
					<li><a href="#" class="yellow"> <img src="modules/core/images/likes.png" alt=""> 49</a></li>
					<div class="clear"></div>
				</ul>
			</div>
		</div>
	</div>
	<div class="column_right"></div>
</div>

<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="MEAN.JS" class="img-responsive text-center logo" src="modules/core/img/brand/logo.jpg" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Where the hell do we eat today ?
			</p>
		</div>
		<div class="row" data-ng-controller="RestosController">
			<h2>{{todayResto.name}}</h2>
			<h2 ng-hide="todayResto">Todays resto is still unknown</h2>
			<!--<p>-->
				<!--<a class="btn btn-primary btn-lg" data-ng-click="today()">Get today</a>-->
			<!--</p>-->
		</div>
	</div>
	<div data-ng-controller="VotesController">
		<div data-ng-show="success" data-ng-bind="success"></div>
		<h2 data-ng-hide="voteEnabled || alreadyVoted">Not pleased with that? <a class="btn btn-primary btn-lg" data-ng-click="enableVote()">Call for a vote choice instead!</a></h2>
		<div data-ng-show="voteEnabled && !alreadyVoted" class="row">
			<div class="col-md-4">
				<h3>The choice is yours</h3>
				<p>Search: <input data-ng-model="search" type="text" placeholder="M'eat me, frites, ..."></p>
				<p>
					Sort by:
					<select ng-model="order">
						<option value="">Choose the criteria...</option>
						<option value="name">Alphabetical</option>
						<option value="healthiness">Healthiness</option>
						<option value="proximity">Proximity</option>
						<option value="price">Price</option>
					</select>
				</p>
			</div>
			<div class="col-md-8 list-group">
				<a data-ng-repeat="resto in restos | filter:search | orderBy:order:(order == 'proximity' || order == 'healthiness')" data-ng-click="create(resto)" class="list-group-item">
					<h4 class="list-group-item-heading" data-ng-bind="resto.name"></h4>
				</a>
			</div>
		</div>
		<div data-ng-show="todayVotes.length > 0" class="row">
			<h2>Today's other votes</h2>
			<div data-ng-repeat="vote in todayVotes" class="col-md-3">
				<h2 data-ng-bind="vote.resto.name"></h2>
				<p data-ng-bind="vote.users.length"></p>
				<ul>
					<li data-ng-repeat="voteUser in vote.users">
						{{voteUser.displayName}}
					</li>
				</ul>
				<a class="btn btn-primary btn-lg" data-ng-hide="alreadyVoted" data-ng-click="create(vote.resto)">Vote for that too</a>
			</div>
		</div>
	</div>
	<br>Enjoy &amp; Keep Us Updated,
	<br>thcoq@smile.fr
</section>
