<section class="sign-in-up" data-ng-controller="AuthenticationController">
	<!--<h3 class="col-md-12 text-center">Sign in using your social accounts</h3>-->
	<!--<div class="col-md-12 text-center">-->
		<!--<a href="/auth/facebook" class="undecorated-link">-->
			<!--<img src="/modules/users/img/buttons/facebook.png">-->
		<!--</a>-->
		<!--<a href="/auth/twitter" class="undecorated-link">-->
			<!--<img src="/modules/users/img/buttons/twitter.png">-->
		<!--</a>-->
		<!--<a href="/auth/google" class="undecorated-link">-->
			<!--<img src="/modules/users/img/buttons/google.png">-->
		<!--</a>-->
		<!--<a href="/auth/linkedin" class="undecorated-link">-->
			<!--<img src="/modules/users/img/buttons/linkedin.png">-->
		<!--</a>-->
		<!--<a href="/auth/github" class="undecorated-link">-->
			<!--<img src="/modules/users/img/buttons/github.png">-->
		<!--</a>-->
	<!--</div>-->
	<!--<h3 class="col-md-12 text-center">Or with your account</h3>-->

    <div class="column_middle">
        <div class="sign-in">
            <div class="sign_in">
                <h3>Sign in to your account</h3>
                <form data-ng-submit="signin()">
					    	<span>
					 	        <i><img src="modules/core/images/mail.png" alt=""></i>
                                <input type="text" id="username" name="username"
                                       data-ng-model="credentials.username" placeholder="Username">
					 	    </span>
					 	    <span>
                                 <i><img src="modules/core/images/lock.png" alt=""></i>
                                 <input type="password" id="password" name="password"
                                        data-ng-model="credentials.password" placeholder="Password">
					 	    </span>
                    <input type="submit" class="my-button" value="Sign In">
                </form>
                <h4><a href="/#!/password/forgot">Forgot your password?</a></h4>
                <div class="sign-in-up-separator">
                    or
                    <div class="button sign-up-button"><a href="/#!/signup">Sign Up</a></div>
                </div>
                <div data-ng-show="error" class="text-center text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </div>
            <!--<div class="signin_facebook">-->
                <!--<p><a href="#">  <i> <img src="modules/core/images/facebook.png" alt=""></i>Sign in with facebook</a></p>-->
            <!--</div>-->
        </div>
</section>
