<section class="sign-in-up" data-ng-controller="AuthenticationController">
	<!--<h3 class="col-md-12 text-center">Sign up using your social accounts</h3>-->
	<!--<div class="col-md-12 text-center">-->
		<!--<a href="/auth/facebook" class="undecorated-link">-->
			<!--<img src="/modules/users/img/buttons/facebook.png">-->
		<!--</a>-->
		<!--<a href="/auth/twitter" class="undecorated-link">-->
			<!--<img src="/modules/users/img/buttons/twitter.png">-->
		<!--</a>-->
		<!--<a href="/auth/google" class="undecorated-link">-->
			<!--<img src="/modules/users/img/buttons/google.png">-->
		<!--</a>-->
		<!--<a href="/auth/linkedin" class="undecorated-link">-->
			<!--<img src="/modules/users/img/buttons/linkedin.png">-->
		<!--</a>-->
		<!--<a href="/auth/github" class="undecorated-link">-->
			<!--<img src="/modules/users/img/buttons/github.png">-->
		<!--</a>-->
	<!--</div>-->
	<!--<h3 class="col-md-12 text-center">Or with your email</h3>-->

    <div class="column_middle">
        <div class="sign-in">
            <div class="sign_up">
                <h3>Sign up on the man-a-ger</h3>
                <form name="userForm" data-ng-submit="signup()">
                    <span>
                        <i>First Name</i>
                        <input type="text" required id="firstName" name="firstName"
                               data-ng-model="credentials.firstName" placeholder="First Name">
                    </span>
                    <span>
                        <i>Last Name</i>
                        <input type="text" id="lastName" name="lastName"
                               data-ng-model="credentials.lastName" placeholder="Last Name">
                    </span>
                    <span>
                        <i><img src="modules/core/images/mail.png" alt=""></i>
                        <input type="email" id="email" name="email"
                               data-ng-model="credentials.email" placeholder="Email">
                    </span>
                    <span>
                        <i>Username</i>
                        <input type="text" id="username" name="username"
                               data-ng-model="credentials.username" placeholder="Username">
                    </span>
                    <span>
                         <i><img src="modules/core/images/lock.png" alt=""></i>
                         <input type="password" id="password" name="password"
                                data-ng-model="credentials.password" placeholder="Password">
                    </span>
                    <input type="submit" class="my-button" value="Sign Up">
                </form>
                <div class="sign-in-up-separator">
                    or
                    <div class="button sign-in-button"><a href="/#!/signin">Sign In</a></div>
                </div>
                <div data-ng-show="error" class="text-center text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </div>
            <!--<div class="signin_facebook">-->
            <!--<p><a href="#">  <i> <img src="modules/core/images/facebook.png" alt=""></i>Sign in with facebook</a></p>-->
            <!--</div>-->
        </div>
    </div>
</section>
