<section data-ng-controller="RestosController" data-ng-init="find()">
    <!--<div class="page-header">-->
        <!--<h1>Restos</h1>-->
    <!--</div>-->

    <div class="column_left">
        <div class="menu_box">
            <h3>Restos</h3>
            <div class="menu_box_list">
                <ul>
                    <li class="no-link"><input data-ng-model="search" type="text" placeholder="Search..."></li>
                    <li class="no-link">
                        <select ng-model="order">
                            <option value="">Sort by...</option>
                            <option value="name">Name</option>
                            <option value="healthiness">Healthiness</option>
                            <option value="proximity">Proximity</option>
                            <option value="price">Price</option>
                        </select>
                    </li>
                    <li><a href="/#!/restos/create" class="statistics"><span>Create</span></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="column_middle_right">
        <div data-ng-repeat="resto in restos | filter:search | orderBy:order:(order == 'proximity' || order == 'healthiness')" class="list-item">
            <h3><a data-ng-href="#!/restos/{{resto._id}}" data-ng-bind="resto.name"></a></h3>
            <div class="image">
                <a data-ng-href="#!/restos/{{resto._id}}">
                    <img data-ng-src="{{resto.image}}">
                </a>
            </div>
            <div class="data">
                <ul>
                    <li>
                        <a data-ng-href="#!/restos/{{resto._id}}">
                            Proximity
                            <label class="digits" data-ng-bind="resto.proximity"></label><div class="clear"></div>
                        </a>
                    </li>
                    <li>
                        <a data-ng-href="#!/restos/{{resto._id}}">
                            Healthiness
                            <label class="digits" data-ng-bind="resto.healthiness"></label><div class="clear"></div>
                        </a>
                    </li>
                    <li>
                        <a data-ng-href="#!/restos/{{resto._id}}">
                            Price
                            <label class="digits" data-ng-bind="resto.price"></label><div class="clear"></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</section>
