<section data-ng-controller="RestosController" data-ng-init="findOne()">
    <div class="column_left">
        <div class="box" data-ng-show="((authentication.user) && (authentication.user.roles.indexOf('admin') > -1))">
            <div class="articles_list">
                <ul>
                    <li><a data-ng-click="remove()" class="red"><img src="modules/core/images/comments.png">Delete</a></li>
                    <li><a href="/#!/restos/{{resto._id}}/edit" class="purple">
                        <img src="modules/core/images/settings.png">Edit</a></li>
                    <!--<li><a href="#" class="yellow"> <img src="images/likes.png" alt=""> 49</a></li>-->
                    <div class="clear"></div>
                </ul>
            </div>
        </div>
        <div class="menu_box">
            <h3 data-ng-bind="resto.name"></h3>
            <div class="menu_box_list">
                <div class="profile_picture">
                    <a>
                        <img class="pic" data-ng-show="resto.image" data-ng-src="{{resto.image}}">
                        <img class="pic" data-ng-hide="resto.image" data-ng-src="modules/core/img/brand/logo.jpg">
                    </a>
                    <div class="profile_picture_name">
                        <!--<h2 data-ng-bind="resto.name"></h2>-->
                        <p data-ng-bind="resto.description"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="column_middle">
        <div class="box blue">
            <h3>Stats</h3>
            <div class="box-content data">
                <ul>
                    <li>
                        Proximity
                        <label class="digits" data-ng-bind="resto.proximity"></label><div class="clear"></div>
                    </li>
                    <li>
                        Healthiness
                        <label class="digits" data-ng-bind="resto.healthiness"></label><div class="clear"></div>
                    </li>
                    <li>
                        Price
                        <label class="digits" data-ng-bind="resto.price | currency"></label><div class="clear"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="column_right">
        <div class="box blue">
            <h3>Location</h3>
            <div class="box-content">
                <ui-gmap-google-map center="map.center" zoom="map.zoom">
                    <ui-gmap-marker idKey="marker.id" coords="marker.coords"></ui-gmap-marker>
                </ui-gmap-google-map>
            </div>
        </div>
    </div>
</section>
