<section data-ng-controller="StatsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Stats</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="stat in stats" data-ng-href="#!/stats/{{stat._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="stat.created | date:'medium'"></span>
				by
				<span data-ng-bind="stat.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="stat.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!stats.$resolved || stats.length">
    	No Stats yet, why don't you <a href="/#!/stats/create">create one</a>?
    </div>
</section>