<section data-ng-controller="StatsController">
    <div class="column_left">
        <div class="menu_box">
            <h3>My stats</h3>
            <div class="chart">
                <div class="diagram">
                    <canvas id="canvas" height="220" width="220"> </canvas>
                    <!--<h4><span>June</span><br />2013</h4>-->
                </div>
                <div class="week-month-year">
                    <p><a data-ng-click="setTimeYear()" ng-class="{active: time === 'year'}">Year</a></p>
                    <p><a data-ng-click="setTimeMonth()" ng-class="{active: time === 'month'}">Month</a></p>
                    <p><a data-ng-click="setTimeWeek()" ng-class="{active: time === 'week'}">Week</a></p>
                    <div class="clear"></div>
                </div>
                <div class="chart_list">
                    <ul>
                        <li data-ng-repeat="votesStats in yearVotesStats">
                            <a href="#!/restos/{{votesStats.resto._id}}" class="{{votesStats.class}}">{{votesStats.resto.name}}<p class="percentage">{{votesStats.perc}}<em>%</em></p></a>
                        </li>
                        <div class="clear"></div>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="column_middle">
        <div class="box blue">
            <h3>Averages</h3>
            <div class="graph">
                <div class="graph-bg">
                    <canvas id="line-chart"></canvas>
                    <div class="legend"></div>
                </div>
                <div class="graph_list">
                    <div class="week-month-year">
                        <p><a data-ng-click="setTimeYear()" ng-class="{active: time === 'year'}">Year</a></p>
                        <p><a data-ng-click="setTimeMonth()" ng-class="{active: time === 'month'}">Month</a></p>
                        <p><a data-ng-click="setTimeWeek()" ng-class="{active: time === 'week'}">Week</a></p>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="column_right">
        <div class="box blue">
            <h3>Where the hell did I eat on that day?</h3>
            <div class="cal1"></div>
        </div>
    </div>
</section>
